<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.centerom.almistack.ui.expressions.CNFMenuTester"
          id="org.centerom.almistack.ui.expressions.CNFMenuTester"
          namespace="org.centerom.almistack.ui.expressions"
          properties="nodeIsSelected,projectIsSelected"
          type="java.lang.Object">
    </propertyTester>
 </extension>
   <extension
         id="org.centerom.almistack.ui.applicationId"
         name="Identifier for RAP/RCP applications"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="src/main/resources/images/logo.png"
            thread="main"
            visible="true">
         <run
               class="org.centerom.almistack.ui.application.Application">
         </run>
      </application>
   </extension>
 <extension
       point="org.eclipse.core.runtime.products">
    <product
          application="org.centerom.almistack.ui.applicationId"
          name="name">
       <property
             name="org.centerom.almistack.ui.property2"
             value="org.centerom.almistack.ui.property2">
       </property>
    </product>
 </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="org.centerom.almistack.ui.commands.newItem"
          name="New">
    </command>
    <command
          id="org.centerom.almistack.ui.commands.openEditor"
          name="Open Editor">
    </command>
    <command
          id="org.centerom.almistack.ui.commands.viewPlan"
          name="View plan">
    </command>
    <command
          id="org.centerom.almistack.ui.commands.removeNode"
          name="Remove">
    </command>
    <command
          id="org.centerom.almistack.ui.commands.renameNode"
          name="Rename Node">
    </command>
    <command
          id="org.centerom.almistack.ui.commands.renameLink"
          name="Rename Link">
       <commandParameter
             id="org.centerom.almistack.ui.commands.renameLink.nameParameter"
             name="name"
             optional="true">
       </commandParameter>
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.centerom.almistack.ui.editors.ProductEditor"
          default="false"
          icon="src/main/resources/images/product.png"
          id="org.centerom.almistack.ui.editors.productEditor"
          name="Product">
    </editor>
    <editor
          class="org.centerom.almistack.ui.editors.ReleaseEditor"
          default="false"
          icon="src/main/resources/images/release.png"
          id="org.centerom.almistack.ui.editors.releaseEditor"
          name="Release">
    </editor>
    <editor
          class="org.centerom.almistack.ui.editors.ProjectEditor"
          default="false"
          icon="src/main/resources/images/project.png"
          id="org.centerom.almistack.ui.editors.projectEditor"
          name="Project">
    </editor>
    <editor
          class="org.centerom.almistack.ui.editors.UserEditor"
          default="false"
          icon="src/main/resources/images/user.png"
          id="org.centerom.almistack.ui.editors.userEditor"
          name="Release">
    </editor>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.centerom.almistack.ui.commands.NewItemCommand"
          commandId="org.centerom.almistack.ui.commands.newItem">
       <enabledWhen>
          <test
                args="true"
                property="org.centerom.almistack.ui.expressions.nodeIsSelected"
                value="true">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="org.centerom.almistack.ui.commands.OpenEditorCommand"
          commandId="org.centerom.almistack.ui.commands.openEditor">
       <enabledWhen>
          <test
                args="true"
                property="org.centerom.almistack.ui.expressions.nodeIsSelected"
                value="true">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="org.centerom.almistack.ui.commands.ViewPlanCommand"
          commandId="org.centerom.almistack.ui.commands.viewPlan">
       <class
             class="org.centerom.almistack.ui.commands.ViewPlanCommand">
       </class>
    </handler>
    <handler
          class="org.centerom.almistack.ui.commands.RemoveNodeCommand"
          commandId="org.centerom.almistack.ui.commands.removeNode">
       <enabledWhen>
          <test
                args="true"
                property="org.centerom.almistack.ui.expressions.nodeIsSelected"
                value="true">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="org.centerom.almistack.ui.commands.RenameNodeCommand"
          commandId="org.centerom.almistack.ui.commands.renameNode">
       <enabledWhen>
          <test
                args="true"
                property="org.centerom.almistack.ui.expressions.nodeIsSelected"
                value="true">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="org.centerom.almistack.ui.commands.RenameLinkCommand"
          commandId="org.centerom.almistack.ui.commands.renameLink">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
          

     <menuContribution
             allPopups="true"
             locationURI="popup:org.centerom.almistack.ui.views.agileHierarchyView.CNFPopupMenu">
          <command
                commandId="org.centerom.almistack.ui.commands.openEditor"
                id="cnf.popupmenu.openEditor"
                label="Open"
                mnemonic="D"
                style="push"
                tooltip="Open">
          </command>
          <command
                commandId="org.centerom.almistack.ui.commands.viewPlan"
                icon="src/main/resources/images/plan.png"
                id="cnf.popupmenu.viewPlan"
                label="View Plan"
                style="push"
                tooltip="Open plan">
             <visibleWhen
                   checkEnabled="false">
                <test
                      property="org.centerom.almistack.ui.expressions.projectIsSelected">
                </test>
             </visibleWhen>
          </command>
          <separator
                name="Separator"
                visible="true">
          </separator>
          <command
                commandId="org.centerom.almistack.ui.commands.removeNode"
                icon="src/main/resources/images/remove.png"
                id="cnf.popupmenu.removeNode"
                label="Remove"
                mnemonic="D"
                style="push">
          </command>
          <command
                commandId="org.centerom.almistack.ui.commands.renameNode"
                id="cnf.popupmenu.renameNode"
                label="Rename ..."
                style="push">
          </command>
       </menuContribution>
 </extension>
       <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.centerom.almistack.ui.helpers.LinkHelper"
             id="org.centerom.almistack.ui.views.linkHelper">
          <editorInputEnablement>
             <or>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.ProductEditorInput">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.ProjectEditorInput">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.ReleaseEditorInput">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.IterationEditorInput">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.UserStoryEditorInput">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.ui.editorinputs.TaskEditorInput">
                </instanceof>
             </or>
          </editorInputEnablement>
          <selectionEnablement>
             <or>
                <instanceof
                      value="org.centerom.almistack.domain.beans.Product">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.domain.beans.Project">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.domain.beans.Release">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.domain.beans.Iteration">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.domain.beans.UserStory">
                </instanceof>
                <instanceof
                      value="org.centerom.almistack.domain.beans.Task">
                </instanceof>
             </or></selectionEnablement>
       </linkHelper>
    </extension>
   
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			activeByDefault="true"
			contentProvider="org.centerom.almistack.ui.providers.AgileCNFContentProvider"
			id="org.centerom.almistack.ui.views.agileHierarchyContent"
			labelProvider="org.centerom.almistack.ui.providers.AgileCNFLabelProvider"
			name="Agile Hierarchy Content"
			priority="normal">
			<triggerPoints>
				<or>
     <instanceof
           value="org.centerom.almistack.domain.beans.Product">
     </instanceof>
					<instanceof value="org.centerom.almistack.domain.beans.Project" />
     <instanceof
           value="org.centerom.almistack.domain.beans.Release">
     </instanceof>
					<instanceof value="org.centerom.almistack.domain.beans.Iteration" />
     <instanceof
           value="org.centerom.almistack.domain.beans.UserStory">
     </instanceof>
     <instanceof
           value="org.centerom.almistack.domain.beans.Task">
     </instanceof>
     <instanceof
           value="org.centerom.almistack.domain.beans.Plan">
     </instanceof>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.centerom.almistack.domain.beans.Product" />
      				<instanceof value="org.centerom.almistack.domain.beans.Project" />
          <instanceof
                value="org.centerom.almistack.domain.beans.Release">
          </instanceof>
          <instanceof
                value="org.centerom.almistack.domain.beans.Iteration">
          </instanceof>
          <instanceof
                value="org.centerom.almistack.domain.beans.UserStory">
          </instanceof>
				</or>
			</possibleChildren>
		</navigatorContent>
</extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.centerom.almistack.ui.views.agileHierarchyView">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="org.centerom.almistack.ui.views.agileHierarchyContent">
          </contentExtension>
          <contentExtension
                pattern="org.centerom.almistack.ui.views.linkHelper">
          </contentExtension>
       </includes>       
    </viewerContentBinding>
    <viewer
          popupMenuId="org.centerom.almistack.ui.views.agileHierarchyView.CNFPopupMenu"
          viewerId="org.centerom.almistack.ui.views.agileHierarchyView">
    </viewer>
 </extension>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.centerom.almistack.ui.perspectives.HomePerspective"
            fixed="false"
            icon="src/main/resources/images/home.png"
            id="org.centerom.almistack.ui.perspectives.homePerspective"
            name="Home">
      </perspective>
      <perspective
            class="org.centerom.almistack.ui.perspectives.AgilePerspective"
            fixed="false"
            icon="src/main/resources/images/agile.png"
            id="org.centerom.almistack.ui.perspectives.agilePerspective"
            name="Agile">
      </perspective>
      <perspective
            class="org.centerom.almistack.ui.perspectives.DevelopmentPerspective"
            fixed="false"
            icon="src/main/resources/images/development.png"
            id="org.centerom.almistack.ui.perspectives.developmentPerspective"
            name="Development">
      </perspective>
      <perspective
            class="org.centerom.almistack.ui.perspectives.QualityPerspective"
            fixed="false"
            icon="src/main/resources/images/quality.png"
            id="org.centerom.almistack.ui.perspectives.qualityPerspective"
            name="Quality">
      </perspective>
   </extension>

   


   <extension point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="two"
             class="org.centerom.almistack.ui.views.ReleasesView"
             icon="src/main/resources/images/release.png"
             id="org.centerom.almistack.ui.views.releasesView"
             name="Releases"
             restorable="true"/>
       <view
             allowMultiple="false"
             class="org.centerom.almistack.ui.views.AlertsView"
             icon="src/main/resources/images/alerts.png"
             id="org.centerom.almistack.ui.views.alertsView"
             name="Alerts"
             restorable="true">
       </view>
       <view
             allowMultiple="false"
             class="org.centerom.almistack.ui.views.IterationsView"
             icon="src/main/resources/images/iteration.png"
             id="org.centerom.almistack.ui.views.iterationsView"
             name="Iterations"
             restorable="true">
       </view>
       <view
             allowMultiple="false"
             class="org.centerom.almistack.ui.views.UserStoriesView"
             icon="src/main/resources/images/user_story.png"
             id="org.centerom.almistack.ui.views.userStoriesView"
             name="User Stories"
             restorable="true">
       </view>
       <view
             allowMultiple="false"
             class="org.centerom.almistack.ui.views.TasksView"
             icon="src/main/resources/images/task.png"
             id="org.centerom.almistack.ui.views.tasksView"
             name="Tasks"
             restorable="true">
       </view>
       
		<view
        allowMultiple="false"
        category="one"
        class="org.centerom.almistack.ui.views.AgileHierarchyView"
        icon="src/main/resources/images/product.png"
        id="org.centerom.almistack.ui.views.agileHierarchyView"
        name="Products"
        restorable="true">
       </view>
  <view
        allowMultiple="false"
        category="one"
        class="org.centerom.almistack.ui.views.PlanView"
        icon="src/main/resources/images/plan.png"
        id="org.centerom.almistack.ui.views.planView"
        name="Plan"
        restorable="true">
  </view>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.file.save"
            icon="src/main/resources/images/product.png">
      </image>
   </extension>
 </plugin>
